<h1>Pessoa</h1>


<div *ngIf="pessoas; else noperson">
    <ul>
        <li *ngFor="let p of pessoas">
            Nome: {{p.name}} <br>
            Pais: {{p.country}} <br>
            E-mail: {{p.email}} <br>
            Companhia: {{p.company}} 
        
        </li>
    </ul>
</div>

<ng-template #noperson>
    <p>Não veio porra nenhuma</p>
</ng-template>