<h1>Produtos</h1>


<div *ngIf="produtos; else noproduto">
    <ul>
        <li *ngFor="let p of produtos">
            Nome: {{p.name}} <br>
            Departamento: {{p.department}}  <br>
            Preço: {{p.price |currency:'R$'}} 
        </li>
    </ul>
</div>

<ng-template #noproduto>
    <p>Não veio porra nenhuma</p>
</ng-template>