<mat-toolbar>
  Meu app
  <span fxFlex></span>
  <div>
    <ng-container *ngIf="!(authenticated$ |async)">
      <button mat-button routerLink="/autenticacao/login">
        <mat-icon>input</mat-icon>
        &nbsp;Entrar
      </button>
      <button mat-button routerLink="/autenticacao/registra">
        <mat-icon>person_add</mat-icon>
        &nbsp;Cadastrar
      </button>
    </ng-container>
    <ng-container *ngIf="(authenticated$ |async) && (user$ |async)">
      <button mat-button routerLink="/main/people">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/main/produto">
        <mat-icon>shop</mat-icon>
      </button>
      <button mat-icon-button  (click)="logout()" routerLink="/autenticacao/login">
        <mat-icon>exit_to_app</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <p  class="username"> {{(user$|async)?.email}}</p>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()" routerLink="/autenticacao/login">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>

    </ng-container>
  </div>
</mat-toolbar>

<router-outlet>

</router-outlet>